<div class="nav-tech">

<a href="{{ base_url }}?technologies/html">
<h2>HTML</h2>
</a>

<a href="{{ base_url }}?technologies/css">
<h2>CSS</h2>
</a>

<a href="{{ base_url }}?technologies/git">
<h2>GIT</h2>
</a>

<a href="{{ base_url }}?technologies/js">
<h2>Javascript</h2>
</a>

<a href="{{ base_url }}?technologies/php">
<h2>PHP</h2>
</a>

<a href="{{ base_url }}?technologies/python">
<h2>Python</h2>
</a>

<a href="{{ base_url }}?technologies/sqlite">
<h2>SQLite</h2>
</a>

</div>