{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <div class="main" role="main">
        <div class="container-three-columns">
            {# {{ content }} #}
            {%  for page in pages("technologies") %}
                <div class="box">
                    <a href="%base_url%?technologies/html">
                        <h2>{{page.title}}</h2>
                        <p>{{page.description}}</p>
                        <i class="fas fa-arrow-circle-right fa-2x"></i>
                    </a>
                </div>
            {% endfor %}
        </div>



         {# {% for page in pages("blog")|sort_by("time")|reverse if not page.hidden %}
     <div class="post">
         <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
         <p class="date">{{ page.date_formatted }}</p>
         <p class="excerpt">{{ page.description }}</p>
     </div>
        {% endfor %}
    </div> #}
    {% include 'incl/footer.twig' %}
</body>

</html>
